{% extends "::base.html.twig" %}

{% block stylesheets %}
     <link rel="stylesheet" href="{{ asset('bundles/tlmalpqrcodephotoassociate/css/main.css') }}" />
{% endblock %}

{% block title 'This is your photo' %}

{% block body %}

    <div>
        {% block content %}tototo{% endblock %}
    </div>
{% endblock %}
